@font-face {
  font-family: 'Nilland';
  src: url('../fonts/Nilland-Black.eot');
  src: url('../fonts/Nilland-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Nilland-Black.woff2') format('woff2'),
      url('../fonts/Nilland-Black.woff') format('woff'),
      url('../fonts/Nilland-Black.ttf') format('truetype'),
      url('../fonts/Nilland-Black.svg#Nilland-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nilland';
  src: url('../fonts/Nilland-Bold.eot');
  src: url('../fonts/Nilland-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Nilland-Bold.woff2') format('woff2'),
      url('../fonts/Nilland-Bold.woff') format('woff'),
      url('../fonts/Nilland-Bold.ttf') format('truetype'),
      url('../fonts/Nilland-Bold.svg#Nilland-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nilland';
  src: url('../fonts/Nilland-ExtraBold.eot');
  src: url('../fonts/Nilland-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Nilland-ExtraBold.woff2') format('woff2'),
      url('../fonts/Nilland-ExtraBold.woff') format('woff'),
      url('../fonts/Nilland-ExtraBold.ttf') format('truetype'),
      url('../fonts/Nilland-ExtraBold.svg#Nilland-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nilland-SmallCaps';
  src: url('../fonts/Nilland-SmallCaps-Bold.eot');
  src: url('../fonts/Nilland-SmallCaps-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Nilland-SmallCaps-Bold.woff2') format('woff2'),
      url('../fonts/Nilland-SmallCaps-Bold.woff') format('woff'),
      url('../fonts/Nilland-SmallCaps-Bold.ttf') format('truetype'),
      url('../fonts/Nilland-SmallCaps-Bold.svg#Nilland-SmallCaps-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nilland-SmallCaps';
  src: url('../fonts/Nilland-SmallCaps.eot');
  src: url('../fonts/Nilland-SmallCaps.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Nilland-SmallCaps.woff2') format('woff2'),
      url('../fonts/Nilland-SmallCaps.woff') format('woff'),
      url('../fonts/Nilland-SmallCaps.ttf') format('truetype'),
      url('../fonts/Nilland-SmallCaps.svg#Nilland-SmallCaps') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nilland';
  src: url('../fonts/Nilland.eot');
  src: url('../fonts/Nilland.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Nilland.woff2') format('woff2'),
      url('../fonts/Nilland.woff') format('woff'),
      url('../fonts/Nilland.ttf') format('truetype'),
      url('../fonts/Nilland.svg#Nilland') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}